<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/home.style.css" />
    <title>Trang chủ</title>
  </head>
  <body>
    <header>
      <h2>iStore</h2>
      <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" placeholder="Tìm kiếm..." />
      </div>
      <nav>
        <a href="/pages/home.page.html" class="active">
          <i class="fa-solid fa-house"></i>
        </a>
        <a href="/pages/cart.page.html">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </nav>
    </header>
    <main>
      <div class="section">
        <div class="section__heading">Loại sản phẩm</div>
        <div class="section__type-list">
          <div class="section__type-item">
            <img src="/images/all-types.png" alt="" />
            <p>Tất cả</p>
          </div>
          <div class="section__type-item">
            <img src="/images/phone-type.png" alt="" />
            <p>Điện thoại</p>
          </div>
          <div class="section__type-item">
            <img src="/images/laptop-png.png" alt="" />
            <p>Laptop</p>
          </div>
          <div class="section__type-item">
            <img src="/images/watch-type.png" alt="" />
            <p>Đồng hồ</p>
          </div>
          <div class="section__type-item">
            <img src="/images/accessory-type.png" alt="" />
            <p>Phụ kiện</p>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section__heading">Sản phẩm nổi bật</div>
        <div class="section__product-list">
          <div class="section__product-card">
            <div class="section__product-img">
              <img src="/images/popular-1.png" alt="" />
            </div>
            <div class="section__product-name">iPhone 16 128GB</div>
            <div class="section__product-price">22.990.000 đ</div>
            <div class="section__view-detail">Xem chi tiết</div>
          </div>
          <div class="section__product-card">
            <div class="section__product-img">
              <img src="/images/popular-2.png" alt="" />
            </div>
            <div class="section__product-name">Macbook Pro 16 Inch</div>
            <div class="section__product-price">89.990.000 đ</div>
            <div class="section__view-detail">Xem chi tiết</div>
          </div>
          <div class="section__product-card">
            <div class="section__product-img">
              <img src="/images/popular-3.png" alt="" />
            </div>
            <div class="section__product-name">Apple Watch Series 10</div>
            <div class="section__product-price">14.390.000 đ</div>
            <div class="section__view-detail">Xem chi tiết</div>
          </div>
          <div class="section__product-card">
            <div class="section__product-img">
              <img src="/images/popular-4.png" alt="" />
            </div>
            <div class="section__product-name">AirPods Pro 2</div>
            <div class="section__product-price">6.1990.000 đ</div>
            <div class="section__view-detail">Xem chi tiết</div>
          </div>
          <div class="section__product-card">
            <div class="section__product-img">
              <img src="/images/popular-5.png" alt="" />
            </div>
            <div class="section__product-name">Apple Pencil (USB-C)</div>
            <div class="section__product-price">2.990.000 đ</div>
            <div class="section__view-detail">Xem chi tiết</div>
          </div>
          <div class="section__product-card">
            <div class="section__product-img">
              <img src="/images/popular-6.png" alt="" />
            </div>
            <div class="section__product-name">Macbook Air M3 13 Inch</div>
            <div class="section__product-price">29.990.000 đ</div>
            <div class="section__view-detail">Xem chi tiết</div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
